<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>nameKey</key>
		<string>代驾服务合作协议</string>
		<key>imageKey</key>
		<string>small_one.png</string>
		<key>contentKey</key>
		<string>甲方：上海邦尼汽车租赁有限公司
地址：上海市虹口区花园路128号7街区A座3051室   
邮编：200083   
传真：021-63810697
乙方：                                        
住址：                                        
身份证号：                                    
联系电话：                                    
一.甲乙双方的合作
1.在本协议框架下，乙方向甲方及甲方客户提供汽车驾驶服务（以下简称：代驾服务）。
2.本协议非劳务协议或劳务合同，仅限甲方向乙方提供相应的代驾服务信息，乙方向甲方收取相应的代驾服务信息费用。
3.本协议自签署之日起生效。除非双方按照本协议“五.违约责任”终止外，本协议长期有效。
二.乙方责任
1.乙方应向甲方或甲方客户提供的代驾服务，并接受甲方安排与调遣执行代驾服务。
2.乙方向甲方或甲方客户提供的代驾服务为上海市行政区域内。
3.乙方在正常天气及交通情况下须10分钟内到达甲方或甲方客户指定代驾服务地点提供代驾服务，如遇延迟，乙方应与甲方或甲方客户及时联系。
4.乙方应按《中华人民共和国交通法》驾驶代驾服务车辆。
5.乙方须签署、认可并遵守甲方定制的双方《代驾服务合作信息》（见附件1）。
6.乙方须签署、认可并遵守甲方制定的《保密协议》（附件2）。
7.乙方在代驾服务中须认真填写甲方提供的《邦尼驾驶代驾服务确认单》，并在完成代驾服务后，妥善保管好《邦尼驾驶代驾服务确认单》存根联，以便甲方回收核对。
8.乙方在向甲方或甲方客户实施代驾服务时应严格执行甲方制定的《邦尼驾驶代驾服务收费标准》。
9.乙方须签署、认可并遵守甲方制定的《代驾服务规范》（见附件3）。
10.乙方须签署、认可并遵守甲方制定的《代驾服务流程》（见附件4）。
11.乙方在代驾服务过程中产生的任何问题，应及时与甲方直接联系，双方协商处理。
三.甲方责任
1.甲方或甲方客户向乙方提出代驾服务请求的代驾服务车辆应具备以下必要条件：车辆手续齐全、车况正常（非改装车及部件）、有车辆保险（须包含交强险、车辆损失险、第三者责任险）；如以上条件不具备，甲方或甲方客户应如实告知乙方，乙方有权拒绝本次服务。如因甲方或甲方客户不主动告知或隐瞒以上状况带来的纠纷或者损害，乙方不承担任何责任，甲方或甲方客户自行负责。
2.甲方应向乙方提供完善的代驾服务信息传达方式，以便乙方及时的接受甲方或甲方客户代驾服务安排。
3.甲方应向乙方提供统一的代驾服务设备，其中包含：《邦尼驾驶代驾服务确认单》、员工胸卡、服装等。
4.甲方或甲方客户应向乙方公布代驾服务信息或直接传达代驾服务信息。
5.甲方或甲方客户应按《邦尼驾驶代驾服务收费标准》支付乙方代驾服务费用。
6.甲方所制定的各项规定合理、合法。并由乙方签署、认可后方可实施。
7.甲方应不间断以各种方式推广代驾服务，以便积累更多的甲方客户向乙方提出代驾服务请求。
四.费用及付款
1.乙方须向甲方支付代驾服务信息费用，具体费用及付款见“附件1.二.”。
2.乙方须向甲方收取代驾服务费用，具体费用及收款见“附件1.三.”。
五.违约责任
1.乙方应做到以下要求，否则甲方有权立即终止协议：
1）代驾服务拒单率在3%以下、问题服务率在2%以下；
2）严格遵守并执行《中华人民共和国交通法》；
3）严格遵守并执行甲方制定的附件2《保密协议》。
4）严格遵守并执行甲方制定的附件1《代驾服务合作信息》；
5）认真、准确的向甲方告知代驾服务信息及填写《邦尼驾驶代驾服务确认单》；
6）严格遵守并执行甲方制定的《邦尼驾驶代驾服务收费标准》；
7）严格遵守并执行甲方制定的附件3《代驾服务规范》；
8）严格遵守并执行甲方指定的附件4《代驾服务流程》；
9）向甲方所提供的证件及信息保持真实有效；
2.甲方应做到以下要求，否则乙方有权立即终止协议：
1）甲方应保证其本身企业证件有效；
2）甲方应保证所经营的代驾服务项目合法；
3）甲方应严格遵守并执行甲方制定的《代驾服务合作信息》；
4）甲方应保证所制定的各项规定合理、合法；
3.双方应遵守本协议条款约定。如有违约，违约方应承担造成对方损失的责任。
4.守约双方有权在30日内以任何理由结束本协议。
5.签约后双方应保持沟通，出现问题双方应协商解决。
6.协商无效，可向甲方所在地法院提起法律诉讼。
六.其他
1.未尽事宜，由双方另行协商并签订书面协议。
2.本协议的附件构成本协议不可分割的一部分，与本协议具有同等法律效力。本协议的附件包括：附件1、附件2、附件3、附件4。
3.本协议一式两份，双方各执一份，双方以任何方式认可、签字或盖章后生效。
甲方（盖章）：上海邦尼汽车租赁有限公司                   乙方（签字或其他方式认可）：
日期：                                                  日期：</string>
	</dict>
	<dict>
		<key>nameKey</key>
		<string>附件1  代驾服务合作信息</string>
		<key>imageKey</key>
		<string>small_two.png</string>
		<key>contentKey</key>
		<string>甲方名称：上海邦尼汽车租赁有限公司   
经营地址：上海市虹口区花园路128号7街区A座3051室   
公司网站：www.4008200972.com   
公司QQ：872720099   
公司QQ群：173069155   
乙方：                                             
住址：                                             
身份证号：                                         
联系电话：                                         
驾驶员编号：                                       
一．甲乙双方利用互联网合作代驾服务，并执行以下约定：
1.甲方向乙方提供完善的代驾服务互联网平台，并向乙方建立个人的互联网平台乙方操作账户。
2.乙方按照甲方所提供的互联网平台操作各种项目并认可互联网平台上面提示的各种项目详细规定及说明。
二.乙方向甲方支付代驾服务信息费用及付款：
1.代驾服务信息管理费用：≤1000.00元/月。
2.代驾服务发票税收及手机银联手续费用：每次代驾服务费×7%。
3.代驾服务信息管理费用支付方式：每月25日-30日通过APP手机银联支付甲方下月费用。
4代驾服务发票税收及手机银联手续费用支付方式：每次服务完成系统自动账户扣款。
5.代驾服务设备费用及支付方式：甲方统一采购，乙方按成本价现金支付。
三.乙方向甲方或甲方客户收取代驾服务费及付款：
1.代驾服务费：见附件4《邦尼驾驶代驾服务收费标准》。
2.代驾服务费用支付方式：
1）现金：乙方在服务结束后即时向甲方或甲方客户收取。
2）非现金：甲方向乙方的所在的系统账户中支付，乙方可按要求申请提现累计资金。甲方按约定时限向乙方账户支付申请提现费用。
3.其他：特殊情况下的代驾服务，双方可另行约定代驾服务收费及支付。但须双方认可。
甲方（盖章）：上海邦尼驾驶汽车租赁有限公司      乙方（签字或其他方式认可）：
日期：                                         日期：</string>
	</dict>
	<dict>
		<key>nameKey</key>
		<string>附件2 保密协议</string>
		<key>imageKey</key>
		<string>small_three.png</string>
		<key>contentKey</key>
		<string>附件2 保密协议
    您作为上海邦尼汽车租赁有限公司（以下简称：“邦尼驾驶”）代驾服务司机，在提供汽车驾驶服务的过程中，您将能接触到邦尼驾驶及其客户的相关资料。在接触这些资料时，您应遵照中国相关法律规定的有关该等资料和信息进行保密和保护。您以代驾服务司机的身份已经同邦尼驾驶签署了《汽车驾驶服务合作协议》，本文件将作为《汽车驾驶服务合作协议》不可分割的一份文件。
1.本附加保密协议（以下简称：“本协议”）涵盖了代驾服务司机根据双方签订的《汽车驾驶服务合作协议》向邦尼驾驶客户在提供服务的任何时候代驾服务司机所获取的有关邦尼驾驶及其客户的所有书面、电子和口头信息（以下简称：“保密信息”）。
2.代驾服务司机在与邦尼驾驶合作期间，应严格履行本协议项下负有的保密义务。代驾服务司机应本着谨慎、诚实的原则，采取任何必要的、合理的措施保守其知悉的保密信息。
3.代驾服务司机在与邦尼驾驶合作期间，未经邦尼驾驶同意，不得擅自保存与保密信息有关的任何物品、资料，也不得私自行进复制、交流或者转移。除了因合作需要之外，未经邦尼驾驶同意，不得以泄露、公告、公布、发布、出版、传授、转让或者其他任何方式向任何第三方披露其所知悉的本协议规定的保密信息，也不得在合作过程中不正当使用或者在合作过程之外使用或许可、帮助他人使用本协议规定的保密信息。
4.代驾服务司机仅允许为了履行《汽车驾驶服务合作协议》之目的而是用保密信息，并且有义务仅让有必要知道和使用保密信息的服务人员接触保密信息，但是，其在将保密信息披露给任何该等服务人员的任何时候，必须告知该等服务人员该等信息的保密性质以及对该等信息限制使用的义务。
5.如代驾服务司机基于司法或行政程序的要求而必须披露保密信息，其应该在披露之前及时通知邦尼驾驶，以便邦尼驾驶寻求适当的救济。在取得了适当救济的情况下，代驾服务司机应仅提供法律要求披露的那部分的保密信息，并且应以最合理有效保护保密信息的方式披露该部分保密信息。
6.如同因代驾服务司机违反本协议的规定而给邦尼驾驶带来的所有直接和间接损失，代驾服务司机将对此负有全部赔偿责任。
7.本协议将持续有效，代驾服务司机基于本协议的责任和义务将无限期存续。
8.本协议系《汽车驾驶服务合作协议》不可分割的一部分，与《汽车驾驶服务合作协议》具有同等法律效力。本协议效力不受《汽车驾驶服务合作协议》效力的影响。
9.代驾服务司机承诺根据本协议履行职责，并承担不执行承诺将产生的后果。本协议一式两份，双方各执一份。本协议自双方其数值日其生效。
代驾服务司机已阅，同意并保证将严格遵守以上条款。
代驾服务司机（签字或其他方式认可）：                        日期：</string>
	</dict>
	<dict>
		<key>nameKey</key>
		<string>附件3 代驾服务规范</string>
		<key>imageKey</key>
		<string>small_four.png</string>
		<key>contentKey</key>
		<string>序号代驾服务规范内容违反处罚1代驾服务司机在执行代驾服务过程中须出示及佩戴邦尼驾驶统一颁发的服务卡、白手套或其他装备。接受客户拒付费用2代驾服务司机驾驶代驾服务车辆必须遵守《中华人民共和国道路交通安全法》及有关交通安全管理规章制度。接受客户拒付费用、接受罚款
3代驾服务司机必须遵守邦尼驾驶制订的相关代驾服务规章制度、规范及流程。接受罚款、接受解约4代驾服务司机在执行代驾服务中不准危险驾驶车辆，如：疲劳驾驶、酒后驾驶、毒后驾驶、驾车电话、驾车饮食等。接受客户拒付费用、接受罚款、接受解约、接受法律制裁5代驾服务司机在接受了代驾服务请求后，不得将代驾服务车辆转给其他代驾服务司机或未经车主许可的人员驾驶。接受客户拒付费用、接受罚款、接受解约
6代驾服务司机在执行代驾服务前应仔细检查所代驾服务车辆的外观（包括擦伤、划伤、撞击等），并记录。接受客户拒付费用
7代驾服务司机在执行代驾服务过程中禁止在代驾服务车辆内吸烟、脱鞋等不文明行为。接受客户拒付费用、接受罚款
8代驾服务司机离开代驾服务车辆时必须关好车窗，关好车门，并带走代驾服务司机本人物品。接受罚款9代驾服务司机在执行代驾服务过程中出现事故时，驾驶员应做出应急处理，并向邦尼驾驶报告。接受客户拒付费用、接受罚款、接受解约
10代驾服务司机应注意保持良好的个人形象，对代驾服务客户要热情、彬彬有礼、语言文明、态度自然大方、不卑不亢。接受客户拒付费用、接受罚款11代驾服务司机在执行代驾服务过程中如客户在谈话，不得插嘴。客户问话，应礼貌回答。接受客户拒付费用、接受罚款12代驾服务司机在代驾服务过程中应主动与客户打招呼并自我介绍，不得传播客户的讲话内容。接受客户拒付费用、接受罚款、接受解约
13代驾司机在执行代驾服务过程中若需使用冷热风空调、收音乐等车辆设备，应征得代驾服务客户同意。接受客户拒付费用、接受罚款、接受解约14代驾服务司机不得向代驾服务客户索要礼物、小费等，或者示意索要礼物、小费等。接受罚款、接受解约
15代驾服务司机须在10分钟内或准时抵达代驾服务客户指定的代驾服务地点。接受罚款、接受解约
16代驾服务司机在执行代驾服务时，须按邦尼驾驶对外公示的代驾服务收费表标准，收取代驾服务客户代驾服务费。接受客户拒付费用、接受罚款、接受解约17代驾服务司机在接受了代驾服务客户代驾服务请求后，不得以任何理由拒绝此次预约的代驾服务。接受罚款、接受解约18代驾服务司机在执行代驾服务时须按国家相关规定系上代驾服务车辆安全带，并提醒乘坐人员及上安全带。接受客户拒付费用
19代驾服务司机在执行代驾服务过程中不得触碰、盗取代驾服务车辆放置的物品文件。接受法律制裁、接受解约、接受客户拒付费用
20代驾服务司机在无不可抗拒的因素下，须正常的使用代驾服务计价器计算代驾服务费用，不准绕路或以任何方式宰客。接受客户拒付费用、接受罚款、接受解约
21解释：
①接受法律制裁：直接扭送公安机关并向司法机关提出诉讼；
②接受客户拒付费用：邦尼驾驶或及其客户拒绝支付此次代驾服务费用；
③接受解约：邦尼驾驶立即终止所有签订的协议并不承担任何解约责任；
④接受罚款：罚款金额根据违规性质处以每次50元-500元的内部行政罚款处分。同意以上所有内容。

代驾服务司机（签字或其他方式认可）：                        
日期：</string>
	</dict>
	<dict>
		<key>nameKey</key>
		<string>附件4  代驾服务流程</string>
		<key>imageKey</key>
		<string>small_five.png</string>
		<key>contentKey</key>
		<string>1.代驾司机通过以下三种方式接受代驾服务预约：
1）邦尼驾驶客户直接致电；
2）互联网平台抢单池抢代驾服务预约单；
3）邦尼驾驶客服指派。
2.邦尼驾驶或邦尼驾驶客户见过代驾服务信息传达给代驾司机，此次预约服务已成立。
3.代驾服务司机准时或按约定时间到达与邦尼驾驶或邦尼驾驶客户预约时所传达的信息地点。
4.代驾服务司机到达到达代驾服务实施地点后：
1）检查代驾服务客户车辆有无损伤；
1）确认代驾服务客户信息：
2）主动出示驾驶证及工作证；
3）出示《邦尼驾驶代驾服务确认单》，须客户了解并接受。
5.代驾服务司机填写《邦尼驾驶代驾服务确认单》后，带代驾服务客户及其车辆安全驾驶至代驾服务客户指定的地点。
6.到达代驾服务客户指定地点后：
1）确认代驾服务客户车辆车辆外观有无损伤；
2）确认代驾服务客户车辆内物品；
3）填写《邦尼驾驶代驾服务确认单》；
4）收取费用（非现金客户除外）；
5）客户在《邦尼驾驶代驾服务确认单》中签字确认。
6）交还代驾服务客户车辆。
保证严格按照上述规范操作。
代驾服务司机（签字或其他方式认可）：                        日期：
 附件6
代驾服务流程
1.代驾司机通过以下三种方式接受代驾服务预约：
1）邦尼驾驶客户直接致电；
2）互联网平台抢单池抢代驾服务预约单；
3）邦尼驾驶客服指派。
2.邦尼驾驶或邦尼驾驶客户见过代驾服务信息传达给代驾司机，此次预约服务已成立。
3.代驾服务司机准时或按约定时间到达与邦尼驾驶或邦尼驾驶客户预约时所传达的信息地点。
4.代驾服务司机到达到达代驾服务实施地点后：
1）检查代驾服务客户车辆有无损伤；
1）确认代驾服务客户信息：
2）主动出示驾驶证及工作证；
3）出示《邦尼驾驶代驾服务确认单》，须客户了解并接受。
5.代驾服务司机填写《邦尼驾驶代驾服务确认单》后，带代驾服务客户及其车辆安全驾驶至代驾服务客户指定的地点。
6.到达代驾服务客户指定地点后：
1）确认代驾服务客户车辆车辆外观有无损伤；
2）确认代驾服务客户车辆内物品；
3）填写《邦尼驾驶代驾服务确认单》；
4）收取费用（非现金客户除外）；
5）客户在《邦尼驾驶代驾服务确认单》中签字确认。
6）交还代驾服务客户车辆。
保证严格按照上述规范操作。
代驾服务司机（签字或其他方式认可）：                        日期：
 </string>
	</dict>
</array>
</plist>
